{% extends "::layout.html.twig" %}
 
{% block title %}
  {{ parent() }}
{% endblock %}
 
{% block body %}
 
  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1 class="titrePage">Continuez l'histoire - Le forum</h1>
 
  <hr>
 
  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
  {% block continuezlhistoireforum_body %}
  {% endblock %}
 
{% endblock %}