{% extends "ContinuezLHistoireSiteBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }} - Conditions générales d'utilisation
{% endblock %}
  
{% block continuezlhistoiresite_body %}
    <h3 class="sousTitrePage">Conditions générales d'utilisation</h3>
    
    <p align="justify">Ci-dessous sont décrites les règles dans lesquelles l'éditeur met à disposition de ses utilisateur 
       le site et les services disponibles sur celui-ci et d'autre part, la manière par laquelle l’utilisateur 
       accède au site et utilise ses services.</p>

    <p align="justify">Toute connexion au site est subordonnée au respect des présentes conditions.</p>

    <p align="justify">Pour l’utilisateur, le simple accès au site de l’éditeur implique l’acceptation de l’ensemble des 
       conditions décrites ci-après.</p>
    
    <h4>Propriété intellectuelle</h4>
    <p align="justify"><i>Continuez l'histoire</i> est un site participatif. Tout utilisateur autorisé peut ajouter 
       du contenu sur le site. En ajoutant ou modifiant du contenu sur <i>Continuez l'histoire</i>, vous accepez que 
       celui-ci soit utilisé, modifié ou supprimé par l'éditeur. Vous pouvez, à tout moment, modifier ou 
       supprimer le contenu que vous avez ajouté.</p>
    
    <h4>Obligations de l'utilisateur</h4>
    <p align="justify">Dans le cadre de l'utilisation de <i>Continuez l'histoire</i>, l'utilisateur s'interdit 
       de se livrer à des actes qui seraient contraires à la loi ou qui porteraient atteinte à quiconque, incluant 
       l'éditeur du site. De plus, tout contenu publié par l'utilisateur sur le site doit être une oeuvre originale 
       de l'utilisateur. L'éditeur se réserve le droit d'interdire momentanément ou définitivement l'accès en 
       modification au site d'un utilisateur.</p>
    
    <h4>Liens hypertextes</h4>
    <p align="justify">Le site <i>Continuez l'histoire</i> peut contenir des liens hypertextes vers d'autres sites. 
       Les liens vers ces autres ressources vous font quitter le site. Il est aussi possible de créer un lien 
       vers l'accueil de <i>Continuez l'histoire</i> sans autorisation de l'éditeur.</p>
    
    <h4>Responsabilité de l'éditeur</h4>
    <p align="justify">L’éditeur ne pourra en aucun cas être tenu responsable de tout dommage de quelque 
       nature qu’il soit résultant de l'apport d'un utilisateur. L'éditeur se réserve le droit de supprimer 
       tout contenu inapproprié.</p>
    
    <h4>Accès au site</h4>
    <p align="justify">L'éditeur s’efforce de permettre l’accès au site 24 heures sur 24, 7 jours sur 7. Cependant,
       il ne peut être tenu responsable en cas de non accéssibilité du site.</p>
    
    <h4>Modification des conditions d’utilisation</h4>
    <p align="justify">L'éditeur se réserve le droit de modifier à tout moment les présentes conditions 
       d’utilisation.</p>
    
    <br/>
    
    <p align="center">-------------------------------------------------</P>
    
    <p align="justify">Les présentes conditions générales (CGU) sont une reproduction partielle du 
        <a href='http://www.droitissimo.com/contrat/conditions-generales-dutilisation-cgu-dun-site-internet' target="_blank" alt='Modèle CGU Droitissimo.com'>Modèle de 
        CGU (conditions générales d'utilisation) d'un site Internet</a>, dont le titulaire des droits d'auteur
        est DROITISSIMO.COM</p>
{% endblock %}