{% extends "ContinuezLHistoireSiteBundle::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Vérouillage impossible d'une histoire
{% endblock %}
   
{% block continuezlhistoiresite_body %}
  Vérouillage de l'histoire "{{ histoire.titre }}" impossible
  <br/>
  <br/>
  <p>Votre demande de vérouillage de l'histoire ne peut être effectué car l'histoire est close.</p>
  
  <a href="{{ path('continuezlhistoiresite_voir', {'id': histoire.id, 'typemodification': typemodification}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour à l'histoire
  </a>
{% endblock %}