{% extends "ContinuezLHistoireSiteBundle::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Choix de l'utilisateur
{% endblock %}
 
{% block continuezlhistoiresite_body %}
  <p>Vous êtes maintenant inscrit. Pour pouvoir ajouter ou modifier une histoire, veuillez vous déconnecter puis 
      vous reconnecter.</p>
{% endblock %}