<!DOCTYPE HTML>
<html>
<head>
   <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
   <link href="../css/tuto1.css" rel="stylesheet" type="text/css">
</head>
<body>
   <div class="container-fluid">
     <div class="row-fluid">
       <div class="span2">Partie 1</div>
       <div class="span10">Partie 2</div>
     </div>
   </div>
</body>
</html>