{% extends "ContinuezLHistoireForumBundle::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Discussion - {{ discussion.sujet }}
{% endblock %}
 
{% block continuezlhistoireforum_body %}
  <div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" />
    </form>
  </div>
{% endblock %}