{% extends "ContinuezLHistoireForumBundle::layout.html.twig" %}
 
{% block title %}
  {{ parent() }} - Supprimer ce message ?
{% endblock %}
 
{% block continuezlhistoireforum_body %}
  <h2>Supprimer un message</h2>
  
  <p>
      Etes-vous sûr de vouloir supprimer ce message ?
  </p>
  
  <form action="{{ path('continuezlhistoireforum_supprimermessage', {'id': message.id}) }}" method="post">
    <a href="{{ path('continuezlhistoireforum_accueilforum') }}" class="btn">
      <i class="icon-chevron-left"></i>
      Retour à l'accueil
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>
{% endblock %}